@import url(footer.css);
@import url(header.css);

body{
  display: flex;
  flex-flow: column;
  padding: 0px;
  margin: 0px;
}

.table{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.reportIssue{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 170px;
    height: 35px;
}

td, th{
    color: rgb(202, 192, 192);
    width: 13em;
    height: 2em;
    text-align: center;
    font-family: monospace;
    font-size: 17px;
}

th{
  background-color: rgb(34, 34, 34);
}

td{
  background-color: rgb(132, 52, 52);
}

a{
    text-decoration: none;
}